<script setup lang="ts">
useHead({
  title: 'Test',
})
</script>

<template>
  <div class="w-full flex flex-row mx-auto">
    <div class="w-full flex flex-col justify-start">
      <main-elements-header />
      <main class="p-5">
        <slot />
      </main>
      <main-elements-footer />
    </div>
  </div>
</template>
